@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root, main {
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
  }

  /* Typography */
  h1 {
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.3xl);
  }
}
