@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root, main {
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
  }

  /* Typography */
  h1 {
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.3xl);
  }

  h2 {
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.2xl);
  }

  h3 {
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.xl);
  }

  h4 {
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.base);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}