@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
  }
  
  /* Typography */
  h1 {
    @apply font-semibold;
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
    @apply font-semibold;
  }

  h3 {
    @apply font-semibold;
  }
}
